body{
    overflow-x: hidden;
}

.nav-bar {
    width: 100vw;
    padding-bottom: 1em;
    height: 10em;
}

.icon-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.egm-icon{
    display: inline-block;
    background-image: url(../../images/home-imgs/EGM-Box-Logo2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 4em;
    width: 14em;
    margin: .5em .5em .5em;
}

.shop-cart-icon {
  color: whitesmoke; 
  font-size: 3em;
  margin: 0;
  padding: 0; 
}
.cart-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: whitesmoke;
    background-color: rgb(173, 49, 49);
    height: 80px;
    width: 12em;
    margin:0em 2em 0em;
}

.nav-wrap{
    background-color: rgb(80, 80, 80);
    height: 4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    width: 100vw;
}

/* Menu wrapping hamburger */
.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

/* toggle hamburger menu on and off */
.toggler {
    position: absolute;
    top: 5em;
    left: 0;
    z-index: 3;
    cursor: pointer;
    width: 100px;
    height: 80px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 4em;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hamburger Lines*/

/* middle line */
.menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: rgba(224, 168, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/* top and bottom lines, showing top  line first */
.menu-wrap .hamburger > div:before, .menu-wrap .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

/* bottom line styled */
.menu-wrap .hamburger > div:after {
    top: 10px;
}

/* Toggler Animation */ 

.menu-wrap .toggler:checked + .hamburger > div{
    transform: rotate(135deg);

}

/*Turn Lines into  X*/

.menu-wrap .toggler:checked + .hamburger > div::before, .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg)
}
.toggler:checked + .hamburger  {
    top: 0;
    left: 0;
}
.toggler:checked {
    top: 0;
    left: 0;
}

/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

/* Show Menu */

.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;

}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: all 0.5s ease ;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease
}

.menu-wrap .menu{
    position: fixed;
    top:0;
    left: 0;
    /* width: 100%; */
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div{
    background: rgb(86, 98, 87);
    /* border-radius: 30%; */
    width: 15em;
    height: 100vh;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transition: all 0.5s ease;
    z-index: 3;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;

}
.menu-wrap .menu > div > div > ul {
    padding-left: 0;
}

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: whitesmoke;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li > a:hover {
    color: rgba(224, 168, 0, 1);
    padding: .4rem 1.1rem;
    border-radius: 15%;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.35);
}

.promo-code {
    font-size: 1em;
    padding-left: 5em;
}


@media screen and (min-width: 460px){
    .promo-code {
        font-size: 1em;
        padding-left: 2em;
    }
}

@media screen and (min-width: 800px){
    .promo-code{
        font-size: 2em;
        padding-left: 0em;
    }

}