.footer-container{
    background-color: rgb(80, 80, 80);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 2em;
}

.footer-inner-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    padding: 2em
}

.footer-contact-container{
    color: whitesmoke;
}

.egm-icon-footer {
    display: inline-block;
    background-image: url(/images/home-imgs/EGM-Long-Logo-Pink-Slap.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 4em;
    width: 14em;
    margin: .5em -.5em .5em;
}

.quick-links-container {
    display: none;
    text-decoration: none;
    color: whitesmoke;
}
.quick-links-container > ul > li {
    list-style: none;
    padding-top: 1.5em;
}
.quick-links-container > ul > li > a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.5em;
}

.quick-links-container > ul > li > a:hover {
    color: rgb(224, 0, 205);
}
.social-links {
    padding: 2em;
}
.social{
    font-size: 2em;
    color: whitesmoke;
    margin: 0em .5em;
}
.social:hover{
    color: rgb(224, 0, 205);
}

h6 > a{
   text-decoration: none;
   color: black;
   cursor: pointer;
}
h6 > a:hover{
    text-decoration: none;
    color: black;
    cursor: pointer;
 }

@media screen and (min-width: 750px) {
    .quick-links-container {
        display: block;
    }
    .social{
        margin: 0em 1em;
    }
}
@media screen and (min-width: 1000px) {
    .egm-icon-footer{
        height: 6em;
        width: 18em;
    }
    .footer-contact-container > p {
        font-size: 1.5em;
    }
    .quick-links-container > ul > li > a {
        font-size: 2em;
    }
}