@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300&family=Signika+Negative:wght@300&display=swap');

body {
  text-align: center;
  overflow-x: hidden;
}

* {
  font-family: 'Bebas Neue', cursive;
}

html {
  /* this makes sure the padding and the border is included in the box sizing */
  box-sizing: border-box;
}

html body {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}

#root{
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* App.js / Home Page */

.featured-products {
  position: relative;
  top: 10em;
  text-align: center;
  height: auto;
  padding-bottom: 3em;
}
.feature-cont {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin: 0 4em 0;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}



/* Products Page */
.prod-hero-mobile{
    background-image: url(/images/prod-imgs/BC-BR-AD.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 24em;
    position: relative;
    top:8em
}

.prod-hero-dt {
  display: none;
}

.prod-container {
  padding: 1em 1em 3em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 8em;
  margin-bottom: 5em;
}

/* Contact Page */
.contact-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  position: relative;
  top: 9em;
  margin: 5em 0em 10em;
}

.contact-info{
  text-align: center;
}

.contact-info > p {
  /* text-align: left; */
  font-size: 1.5em;
}
.contact-form-container{
  width: 100vw;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.contact-heading {
  background-image: url(/images/prod-imgs/Work-S12P-Alt.jpeg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 10em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(234, 0, 187);
}

.contact-heading > div {
  height: 100%;
  width: 100%;
  background-color: rgba(47, 47, 47, 0.79);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.contact-form{
  padding: 1em;
  max-width: 30em;
  
}
.contact-input{
  margin: .5em;
  padding: .3em;
  border-radius: .3em;
  box-shadow: .1em .1em .1em rgba(39, 39, 39, 0.7);
  border: .13em solid black;
}

.cont-submit-btn{
  width: 8em;
  height: 2.5em;
  background-color: rgb(75, 75, 75);
  color: whitesmoke;
  font-size: 1.2em;
  border-radius: .4em;
}

.cont-submit-btn:hover{
  box-shadow: .2em .2em .2em rgba(39, 39, 39, 0.7);
  color: rgb(224, 0, 205);
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.error-styles{
  border: .13em solid red;
  animation: shake .5s;
}
.error-message{
  color: red;
  font-size: 1.3em;
  padding-top: .5em;
}

/* Individual Product Page */

.product-info-container{
  position: relative;
  top: 14em;
  margin: 1em 0em 15em;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
}
.pi-images-cont{
  margin-left: 0em;
  border: .5px solid rgba(60, 60, 60, 0.188);
  border-radius: .3em;
  width: 90%;
}
.showcase-img{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15em;
  width: 90%;
}
.showcase-img > img {
  max-height: 14em;
  padding: 1em;
}
.img-choices{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 10em;
  padding: 1em;
  border-top: .5px solid rgba(60, 60, 60, 0.188);
}
.img-choices > img {
  height: 7em;
  margin: .5em;
  padding: .2em;
  border: .5px solid rgba(60, 60, 60, 0.188);
  border-radius: .3em;
}

.options-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  padding: 1em;

}

.options-container > h1 {
  border-bottom: .5px solid rgba(60, 60, 60, 0.188);
  width: 80%;
  text-align: center;
}
.options-container > h3 {
  border-bottom: .5px solid rgba(60, 60, 60, 0.188);
  width: 90%;
  text-align: center;
}

.product-options{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
  align-items: center;
  justify-items: start;
}
.opts-lab {
  margin: .5em;
  text-align: left;
}
.opts-lab > i {
  color: gray;
  font-size: .8em;
}
.opts {
  width: 6em;
  margin: .5em;
  text-align: right;
  border-radius: .4em;
}

.add2cart-btn {
  height: 2em;
  width: 5em;
  background-color: rgb(75, 75, 75);
  color: whitesmoke;
  border-radius: .4em;
  margin-bottom: .5em;
}

.add2cart-btn:hover{
  box-shadow: .2em .2em .2em rgba(39, 39, 39, 0.7);
  color: rgb(224, 0, 205);
}

/* cart */
.coming-soon{
  position: relative;
  text-align: center;
  top: 5em;
  font-size: 4em;
}

@media screen and (min-width: 760px){
  /* Home Page */

  /* Products Page */
  .prod-hero-dt {
    display: block;
    position: relative;
    top: 8em;
    height:25em;
    width: 100vw;
    object-fit: cover;
    object-position: center;
  }

  .prod-hero-mobile {
    display: none;
  }
  /* Conntact Page */

  .contact-container{
    margin-top: 2em;
  }

  .contact-heading{
    background-position: 0em -7em ;
    height: 15em;
    width: 75%;
  }
  .contact-form{
    max-width: 100vw;
  }
  .contact-input{
    width: 38%;
    padding: .5em;
  }
  #comment{
    width: 78%;
  }

  /* Product Info */

  .product-info-container {
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    top: 9em;
  }

  .showcase-img{
    height: 25em;
  }
  .showcase-img > img{
    max-height: 24em;
  }
}
@media screen and (min-width: 1000px){
  /* Home page */

  /* Products Page */
  .prod-hero-dt {
    height:60em;
    width: 100vw;
  }

  /* Contact Page */
  .contact-heading{
    background-position: 0em -3em ;
    height: 25em;
    width: 65%;
  }
  .contact-input{
    width: 32%;
    padding: .5em;
  }
  #comment{
    width: 65%;
  }
   /* Individual Product */


   .options-container > p {
    padding-top: 1em;
    font-size: 1.3em;
   }
}
@media screen and (min-width: 1400px){
  .contact-heading{
    background-position: center;
    height: 26em;
    width: 60%;
  }
  .contact-input{
    width: 41%;
    padding: .5em;
  }
  #comment{
    width: 83%;
  }
}